*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #50726C;
    display: flex;
    align-items: center;
    justify-content: center;
}


.box{
    width: 350px;
    height: 500px;
    box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.26);
    background-color: #05352C;
    border-radius: 50px;
    overflow: hidden;  /*manaraka an le div ao ivelany le div ao anatiny*/
    position: relative;
}

.boite_info{
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 10%;
    font-size: 1rem;
    margin: 40px;
}

.boite_Boutton{
    position: absolute;
    height: 400px;
    width: 100%;
    background-color: black;
    color: white;
    bottom: 0;
    border-radius: 30px;
    font-size: 0.8rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.boite_Boutton h1{
    padding: 20px;
}

.boite_Boutton .form_input{
    border-bottom: 2px solid #adadad;
}

.form_input{
    margin: 40px;
}

.form_input input{
    width: 100%;
    height: 10px;
    padding: 5px;
    /*suppresion des bordures de l'input*/
    border: none;
    background: none;
    outline: none;
    color: white;
}

.form_input label{
    color: #adadad;
    margin-bottom: 10px;
}

input[type="submit"]{
    width: 80%;
    height: 50px;
    background-color: white;
    outline: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    font-weight:bold;
    margin-left: 30px;
}

input[type="submit"]:hover{
    background-color: #05352C;
}